<!DOCTYPE html>
<html>
<head>
    <title>Admin Interface</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    <h1>Admin Interface</h1>
    <form method="POST" action="/update">
        <label for="notification_title">Notification Tittle:</label>
        <input type="text" name="notification_title" value="{{ notification_title_1 }}">
        <br>
        <label for="notification_date">Notification Date:</label>
        <input type="text" name="notification_date" value="{{ notification_date_1 }}">
        <br>
        <label for="notification_content">Notification Content:</label>
        <textarea name="notification_content">{{ notification_content_1 }}</textarea>
        <br>
        <label for="pdf_url">PDF URL:</label>
        <input type="text" name="pdf_url" value="{{ pdf_url_1 }}">
        <br>
        <label for="notification_title_2">Notification Title 2:</label>
        <input type="text" name="notification_title_2" value="{{ notification_title_2 }}">
        <br>
        <label for="notification_date_2">Notification Date 2:</label>
        <input type="text" name="notification_date_2" value="{{ notification_date_2 }}">
        <br>
        <label for="notification_content_2">Notification Content 2:</label>
        <textarea name="notification_content_2">{{ notification_content_2 }}</textarea>
        <br>
        <label for="pdf_url_2">PDF URL 2:</label>
        <input type="text" name="pdf_url_2" value="{{ pdf_url_2 }}">
        <br>
        <label for="notification_title_3">Notification Title 3:</label>
        <input type="text" name="notification_title_3" value="{{ notification_title_3 }}">
        <br>
        <label for "notification_date_3">Notification Date 3:</label>
        <input type="text" name="notification_date_3" value="{{ notification_date_3 }}">
        <br>
        <label for="notification_content_3">Notification Content 3:</label>
        <textarea name="notification_content_3">{{ notification_content_3 }}</textarea>
        <br>
        <label for="pdf_url_3">PDF URL 3:</label>
        <input type="text" name="pdf_url_3" value="{{ pdf_url_3 }}">
        <br>
        <label for="notification_title_4">Notification Title 4:</label>
        <input type="text" name="notification_title_4" value="{{ notification_title_4 }}">
        <br>
        <label for="notification_date_4">Notification Date 4:</label>
        <input type="text" name="notification_date_4" value="{{ notification_date_4 }}">
        <br>
        <label for="notification_content_4">Notification Content 4:</label>
        <textarea name="notification_content_4">{{ notification_content_4 }}</textarea>
        <br>
        <label for="pdf_url_4">PDF URL 4:</label>
        <input type="text" name="pdf_url_4" value="{{ pdf_url_4 }}">
        <br>
        <label for="notification_title_5">Notification Title 5:</label>
        <input type="text" name="notification_title_5" value="{{ notification_title_5 }}">
        <br>
        <label for="notification_date_5">Notification Date 5:</label>
        <input type="text" name="notification_date_5" value="{{ notification_date_5 }}">
        <br>
        <label for="notification_content_5">Notification Content 5:</label>
        <textarea name="notification_content_5">{{ notification_content_5 }}</textarea>
        <br>
        <label for="pdf_url_5">PDF URL 5:</label>
        <input type="text" name="pdf_url_5" value="{{ pdf_url_5 }}">
        <br>
        <input type="submit" name="admin" value="Save Changes">
    </form>
</body>
</html>
